<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ChargeAccountInvoices.mdf" connectionString="xpoprovider=MSSqlServer;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Ethanbdx\source\repos\FaithFeedSeed\FaithFeedSeed\ChargeAccountInvoices.mdf;integrated security=True" />
    </connectionStrings>
</configuration>